@model HotelApp_Mvc.Models.Dbase.Payment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.reserve)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reserve.ReserveID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PaymentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
